header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 10px;
  z-index: 4;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 20px;
  padding: 0;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: white;
}
@media (max-width: 600px) {
  nav ul {
    display: none;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
  }
  .burger-menu .bar {
    width: 30px;
    height: 3px;
    background-color: whitesmoke;
    margin: 6px 0;
  }
  .topmenu.show {
    display: flex;
    flex-direction: column;
    background-color: black;
    top: 60px;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .black-box {
    padding: 10px;
  }
}

.col {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}
.col.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.grid_1-1 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

.tlink {
  text-align: center;
  bottom: 15px;
}

footer {
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* flex-direction: row; */
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  /* z-index: 1; */
  width: 100%;
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  /* margin-bottom: 0%; */
  /* margin-top: 90%; */
  /* align-items: flex-end; */
}
#footer1 {
  position: relative;
}
