nav {
  border: 1px solid white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
}

.background-image {
  position: fixed;
  top: -100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 3s ease;
  /* z-index positions the background image under the black boxss */
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
}

.black-box {
  background-color: black;
  color: white;
  padding: 80px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  /* position: center; */
  /* this does that the box is on top of the image */
  z-index: 3;
  max-width: 600px;
  width: 90%;
  margin: 0px;
  /* margin-left: 0%;
  margin-right: 0%; */
}

.mainbutton {
  background-color: #b74040;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.topmenu {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

a {
  color: rgb(3, 3, 3);
  text-decoration: none;
}

.button2 {
  display: block;
  padding: 20px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 20px;
  font-family: "libre";
  justify-content: space-between;
}

.button2:hover {
  background-color: #b74040;
  opacity: 1;
}

h1 {
  text-align: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.col_order {
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  color: black;
  padding: 10px;
  align-items: stretch;
  margin-top: auto;
  margin-bottom: 120px;
}
.tlink a {
  color: white;
  font-size: 25px;
}
.tlink a:hover {
  color: #b74040;
}

.footercontent {
  font-size: 15px;
  border: 1px solid white;
  padding: 22px;
}
