* {
    box-sizing: border-box;
    margin: 5px;
  
}

body {
    color: whitesmoke;
    background-color: white;
    font-family: 'notosans';
}

nav a {
    color: rgb(6, 8, 9);
    
}

img {
    width: 100%;
    height: auto;
    display: block;
}

@font-face {
    font-family: 'libre';
    src: url(../font/librebaskerville-bold-webfont.woff2);
}

@font-face {
    font-family: 'notosans';
    src: url(../font/notosans-thinitalic-webfont.woff2);
}

h1 {
    font-size: 30px;
    font-family: 'libre';
}

p {
    font-size: 20px;
    font-family: 'notosans' sans-serif;
    font: weight 100;
}

h1 {
    color: rgb(157, 237, 244);
    background-color: lightcoral;
    margin: 0;
    text-align: center;
    font-weight: bolder;

}

h2 {
    color: black;

    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: thin;
    line-height: 1.5;

}

p {
    color: black;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    color: black;

}

header {
    font: size 15px;
    ;
    font-family: 'libre';
    font-weight: thin;
}

footer {
    font-size: 15px;
    font-family: 'libre';
    font-weight: thin;
}
.boxlist{
    border-width: 2px;
    border-style:solid;
    border-color: lightcoral;
    color:black;
}