* {
  box-sizing: border-box;
  margin: 5px;
  background-color: black;
  color: aliceblue;
}

body {
  color: whitesmoke;
}

.recipe {
  justify-content: left;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "libre";
  src: url(../font/redhatdisplay-variablefont_wght-webfont.woff2);
}

nav {
  font-family: "libre";
  font-size: 30px;
}

h1 {
  font-size: 30px;
  font-family: "libre";
  font-weight: normal;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

p {
  font-size: 20px;
  font-family: "libre";
  font-weight: normal;
}

h2 {
  color: white;
  font-family: "libre";
  margin: 20px 0px;

  font-size: 25px;

  font-weight: normal;
  line-height: 1.5;
}

h3 {
  font-family: "libre";
  margin: 20px 0;
}

li {
  list-style: none;
  color: white;
  font-family: "libre";
  text-align: left;
  justify-content: left;
  flex-direction: column;
  font-weight: normal;
}

header {
  font-weight: normal;
}

footer {
  font-size: 15px;

  font-weight: normal;
}

.boxlist {
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  color: black;
  padding: 10px;
  align-items: stretch;
  margin-top: auto;
}

.box {
  width: 195px;
  height: 1px;
  color: white;
}

.boxline {
  position: fixed;
  width: 195px;
  height: 1px;
  top: 0;
  left: 0;
  object-fit: cover;
  color: white;
}
